<div class="row">
  <h1>Memory Match</h1>
</div>
<div class="row container">
  <div class="box col s2 offset-s1">
    <p id="card1" class="hide">4</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card2" class="hide">1</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card3" class="hide">8</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card4" class="hide">7</p>
  </div>
</div>

<div class="row container">
  <div class="box col s2 offset-s1">
    <p id="card5" class="hide">8</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card6" class="hide">5</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card7" class="hide">2</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card8" class="hide">3</p>
  </div>
</div>

<div class="row container">
  <div class="box col s2 offset-s1">
    <p id="card9" class="hide">3</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card10" class="hide">6</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card11" class="hide">4</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card12" class="hide">7</p>
  </div>
</div>

<div class="row container">
  <div class="box col s2 offset-s1">
    <p id="card13" class="hide">5</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card14" class="hide">2</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card15" class="hide">6</p>
  </div>
  <div class="box col s2 offset-s1">
    <p id="card16" class="hide">1</p>
  </div>
</div>
