<div class="row">
  <h1 class="center-align title">Memory Match</h1>
  <h6 class="center-align">Please press New Game to start. </h6>
  <button class="col s2 offset-s5" id="new_game">New Game</button>
</div>
<div class="row container">
  <div class="box col s2 offset-s1">
    <p class="hide">4</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">1</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">8</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">7</p>
  </div>
</div>

<div class="row container">
  <div class="box col s2 offset-s1">
    <p class="hide">8</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">5</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">2</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">3</p>
  </div>
</div>

<div class="row container">
  <div class="box col s2 offset-s1">
    <p class="hide">3</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">6</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">4</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">7</p>
  </div>
</div>

<div class="row container">
  <div class="box col s2 offset-s1">
    <p class="hide">5</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">2</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">6</p>
  </div>
  <div class="box col s2 offset-s1">
    <p class="hide">1</p>
  </div>
</div>
